footer {
    background-color: #282c34;
    color: #fff;
    padding: 20px 0;
    text-align: center;

  }
  
  
  
  footer p {
    margin: 10px 0;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  