@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'DM-Sans-regular';
    src: url('DM-Sans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

 


.MAINDIV{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-34{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.wrap2{
    margin: 0;
    display: flex;           /* Use flexbox for alignment */
  justify-content: center; /* Center horizontally */
  align-items: center;
  
    font-family: 'Space Grotesk';
    position: relative;
    top:0;
    width: 100%;
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255,0) 50%, rgb(39, 39, 39) 100%),
     url('src/assets/BG.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
  

}

