@tailwind base;
@tailwind components;
@tailwind utilities;
 body{
    
  
 }
 
 .header {
   /* Example styles */
   margin: 0; /* Ensure no margin */
   padding: 0; /* Ensure no padding */
}

.content {
   margin-top: 0; /* Adjust as needed */
   padding-top: 0; /* Adjust as needed */
}
