@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM-Sans-regular';
  src: url('DM-Sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer base {
  html {
    font-family: 'poppins','sans-serif';
    color: bisque;
    cursor: none;

  }

}
body {
  background: rgb(39, 39, 39);
  color: rgb(45, 67, 86);
  cursor: none;
  
}
